<nav class="navbar bg-inverse text-white">
  <div class="container">
    <ul class="nav">
      <li class="nav-item ">
        <a class="nav-link active text-white" href="#">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Reports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Admin</a>
      </li>
    </ul>
    <div><i class="fa fa-user" aria-hidden="true" title="Logged in as user"></i> <span class="sr-only">Logged in as user</span>
      <a href="#" class="text-white pl-2">Jack Reacher</a></div>
  </div>
</nav>
