<div class="d-flex flex-row justify-content-between align-items-end">
    <div class="w-50">
        <p class="mb-0">Search for an account by account name or ID</p>

        <div class="form-inline">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0  w-75 ">
                <input class="form-control py-3" [(ngModel)]="filterString" placeholder="Enter an account name or ID"/>

                <div class="input-group-addon bg-primary text-white border-0 px-3 cursor-pointer" id="searchBtn"
                     (click)="customerSearch($event)">Go</div>
            </div>
        </div>
    </div>
    <div>
        <a href="#" class="btn btn-primary">Create new customer</a>
    </div>
</div>
