<footer>
    <div class="footer bg-inverse">
        <div class="container text-white d-flex flex-row justify-content-between py-4">

            <div class="w-75 pr-5">
                <p>
                    <small>The Module Account is provided by the PrePay technologies Limited, regulated by the Financial Conduct Authority for insurance of electronic money (FRN 900010).

                    </small>
                </p>

                <p class="mb-0">
                    <small>Modulr Technology Limited, 1 Hammersmth Broadway London, W6 9DL. Registered in England No. 09897906. Copyright 2016 Modulr.
                    </small>
                </p>
            </div>
            <div>
                <img src="assets/images/footer-logo.svg" width="70" alt="Modulr logo"/>
            </div>
        </div>
    </div>
</footer>

