<div class="footer bg-inverse">
    <div class="container text-white d-flex flex-row justify-content-between py-4">

        <div class="w-75 pr-5">
            <p>
                <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique felis eget feugiat
                    aliquet.
                    Vestibulum
                    pretium et magna vel ultricies. Aliquam diam ligula, gravida et pharetra at, eleifend rhoncus nisi.
                </small>
            </p>

            <p class="mb-0">
                <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique felis eget feugiat
                    aliquet.
                    Vestibulum
                    pretium et magna vel ultricies. Aliquam diam ligula, gravida et pharetra at, eleifend rhoncus nisi.
                </small>
            </p>
        </div>
        <div>
            <img src="assets/images/footer-logo.svg" width="70" alt="Modulr logo"/>
        </div>
    </div>
</div>