<!--app  main header component-->
<app-app-main-header></app-app-main-header>
<!-- app main navbar-->
<app-app-main-nav></app-app-main-nav>


<div class="container flex-grow">
    <ul class="nav">
        <li class="nav-item">
            <a href="#" class="nav-link">Customers</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Approvals</a>
        </li>
    </ul>
    <!-- app customer search-->
    <app-customer-search></app-customer-search>
</div>

<!-- app main navbar-->
<app-app-main-footer></app-app-main-footer>